        /* * 태그는 모든 태그에 적용 */
        *{
            font-family: 'Nanum Pen Script', cursive;
        }
        .mytitle {
            background-color: gray;
            background-size: cover;
            background-position: center;

            width: 300px;
            height: 200px;

            color: white;
            text-align: center;
            padding-top: 50px;

            border-radius: 10px;
        }

        .wrap{
            width: 300px;
            margin: auto; /* 양쪽동등 */
        }

        .mybtn{
            width: 100px;
            margin: auto; /* 글 속성은 가로세로 속성이 없기에 박스 속성으로 변경 위해 display: block; */
            display: block;
        }

        .gray-font /* class는 여러개를 묶을 수 있다. */ {
            color: gray;
            font-size: 16px;
        }
