<!doctype html>
<html lang="ko">

<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <title>운동일지</title>

    <meta property="og:title" content="원페이지 쇼핑몰"/>
    <meta property="og:description" content="내가 만든 첫 웹서비스!"/>
    <meta property="og:image" content="{{ url_for('static', filename='ogimage.jpeg') }}"/>

    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet">

    <style>
        * {
            font-family: 'Do Hyeon', sans-serif;
        }

        th {
            text-align: center;
        }

        td {
            text-align: center;
        }

        .myitem {
            width: 100%;
            height: 240px;

            background-image: url("https://us.123rf.com/450wm/sonyakamoz/sonyakamoz1609/sonyakamoz160900139/62916690-하늘색-파스텔-색상으로-칠해진-된-나무-질감-벽지-및-배경.jpg");
            background-position: center;
            background-size: cover;
        }

        .price {
            font-size: 16px;
        }

        .desc {
            width: 500px;
            margin-top: 20px;
            margin-bottom: 20px;
        }

        .order-box {
            width: 500px;
            margin-bottom: 40px;
        }

        .mybtn {
            width: 100px;
            margin: auto;
            display: block;
        }

        .wrap {
            margin: auto;
            width: 500px;
        }

        .wrap1 {
            margin: auto;
            width: 650px;
        }

        .rate {
            color: blue;
        }
    </style>
    <script>

        $(document).ready(function () {
            $.ajax({
                type: "GET",
                url: "https://api.manana.kr/exchange/rate.json",
                data: {},
                success: function (response) {
                    let nowRate = response[1]['rate'];
                    $('#rate-box').text(nowRate);
                }
            })
            order_listing();
        });

        function order_listing() {
            // 주문목록 보기 API 연결
            $.ajax({
                type: "GET",
                url: "/order",
                data: {},
                success: function (response) {
                    if (response["result"] == "success") {
                        let orders = response['orders'];
                        for (let i = orders.length - 1; i >= 0; i--) {
                            let date = orders[i]['date'];
                            let name = orders[i]['name'];
                            let count = orders[i]['count'];
                            let address = orders[i]['address'];
                            let phone = orders[i]['phone'];

                            let temp_html = `<tr>
                                                 <th style="width: 18%; word-break: break-all" scope="row">${date}</th>
                                                 <td style="width: 10%; word-break: break-all">${name}</td>
                                                 <td style="width: 8%; word-break: break-all">${count}</td>
                                                 <td style="width: 24%; word-break: break-all">${address}</td>
                                                 <td style="width: 40%; word-break: break-all">${phone}</td>
                                              </tr>`
                            $('#orders-box').append(temp_html)
                        }
                    }
                }
            })
        }

        function date() {
            date = new Date();
            year = date.getFullYear();
            month = date.getMonth() + 1;
            day = date.getDate();
            document.getElementById("current_date").innerHTML = month + "/" + day + "/" + year;
        }

        function account() {
            let id = $('#account-id').val();
            let pw = $('#account-pw').val();

            $.ajax({
                type: "POST",
                url: "/login",
                data: {id_give: id, pw_give: pw},
                success: function (response) { // 성공하면
                    if (response["result"] == "success") {
                        alert(response["msg"]);
                        window.location.reload();
                    }
                }
            })
        }

        function order() {
            let name = $('#order-name').val();
            let count = $('#order-count').val();
            let address = $('#order-address').val();
            let phone = $('#order-phone').val();

            $.ajax({
                type: "POST",
                url: "/order",
                data: {name_give: name, count_give: count, address_give: address, phone_give: phone},
                success: function (response) { // 성공하면
                    if (response["result"] == "success") {
                        alert(response["msg"]);
                        window.location.reload();
                    }
                }
            })
        }
    </script>
</head>

<body>
<div class="wrap">
    <div class="myitem"></div>
    <div class="desc">
        <h1>나의 운동일지 <span class="price"><div id="current_date"></p>
            <script>
date = new Date();
year = date.getFullYear();
month = date.getMonth() + 1;
day = date.getDate();
document.getElementById("current_date").innerHTML = year + "/" + month + "/" + day;
</script></span></h1>
        <p></p>


    </div>
    <div class="login-form">
        <form>
            <input id="account-id" type="text" name="id" class="text-field" placeholder="아이디">
            <input id="account-pw" type="password" name="password" class="text-field" placeholder="비밀번호">
            <input type="submit" value="로그인" class="submit-btn">
            <button onclick="account()" type="button" class="submit-btn">회원가입</button>
        </form>
    </div>
    <p></p>
    <div class="order-box">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">이름</span>
            </div>
            <input id="order-name" type="text" class="form-control" aria-label="Default"
                   aria-describedby="inputGroup-sizing-default">
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text">점수</label>
            </div>
            <select id="order-count" class="custom-select">
                <option selected>-- 점수 --</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">종목</span>
            </div>
            <input id="order-address" type="text" class="form-control" aria-label="Default"
                   aria-describedby="inputGroup-sizing-default">
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">메모</span>
            </div>
            <input id="order-phone" type="text" class="form-control" aria-label="Default"
                   aria-describedby="inputGroup-sizing-default">
        </div>

        <button onclick="order()" type="button" class="btn btn-primary mybtn">저장하기</button>
    </div>
</div>
<div class=wrap1>
    <table class="table">
        <thead>
        <tr>
            <th style="width: 18%" scope="col">날짜</th>
            <th style="width: 10%" scope="col">이름</th>
            <th style="width: 8%" scope="col">점수</th>
            <th style="width: 24%" scope="col">종목</th>
            <th style="width: 40%" scope="col">메모</th>
        </tr>
        </thead>
        <tbody id="orders-box">

        </tbody>
    </table>
</div>

</body>

</html>